# Variables

Variable is nothing but it is a way to store any kind of information like
String values,Integers values,Float values..
Now we will see it by praactically

# Some allowment to create a varible
# 1.Varible shoud not with any spce
  Wrong Example: sadiq shah="name",num ber= 345,point num=0.455  (they all will genrate error)
  
 Write syntax (sadiq_shah="name,num_ber=4546 ya number=334,point_num=0.455)
 
 2.varible should not write with no or symbol except _ (underscore)
 Wrong Example: @name="sadiq shah",@num=123,@num=0.345 (they all will genrate error)
 
 Right example: name="sadiq shah,num=123,num=0,345
 
 3. Varible can be create just _ underscore
 _="name",_=123,_=0.4677
 
 Some are syntax you should be take care about it
 
 We will do all with example practically..

In [28]:
#wrong syntax
# sadiq shah="name"
# print(sadiq shah)
#right statemnt
# sadiq_shah="name"
# print(sadiq_shah)

# #wrong syntax
# num ber=1323
# print(num ber)

#Right syntax
# number=13234
# print(number)

# ya
# num_ber=1334
# print(num_ber)

# @ali="sadiq sshah"
# print(@ali)

# $name="Sir Nasir"
# print($name)  # no symbol accpt ony under score accptable
ali="sadiq shah"
print(ali)

_="im"

sadiq shah

Varible syntax:
name of varible(jo apko thk lgy set kr dyn) =  value(String values,Integers values,Float value)

In [8]:
# Varible as a String

name= "Sadiq shah"  #varible created.We run it cell but it move 2nd cell becauase varible created,
                    #if we want to acsess it so we print the varible.
print(name)
#because sadiq is store in name variable

greeting="Happy Eid Mubark"
print(greeting)

Insitute_name='SBSA'  #error because SBSA is a string and we dnt wrtie in quotes so..Done now we will call
print(Insitute_name)

Teacher_name="Sir Nasir Hussain"
print(Teacher_name)

# NOw we will print and store char

Sadiq shah
Happy Eid Mubark
SBSA
Sir Nasir Hussain

In [11]:
# Now Character store in varible and print it\
character="A"
print(character) # name error because we write name of varible is wrong,let check mistake was small c

symbol="/","2"
print(symbol)  #More than character print after store in varible.

A
('/', '2')

# Varible as Number

In [12]:
num=234
print(num)

234

In [17]:
lucky_no=34
print(lucky_no)  #Syntax eror  space is not  between varible.,
# 1.varible define with out any space ok?

sadiq_shah="name"
print(sadiq_shah) #it wil give eror bcz space
# its method to write varible

34
name

In [3]:
# Some implementation in varible,,,,We understand with some examples:
# Q1: 
    #declare a varible(my name,my age,my contact_no) and store in values.

my_name="Sadiq shah"

my_age=21

my_cont=321354647473

#Now print all varibles

print(my_name)

print(my_age) #before
print(my_age+2) #after add 2


print(my_cont)
print(my_cont+4)

# You can chage you age after adding some number in it
#you can change your number,it not allow to add with many number that why its generate the error

Sadiq shah
21
23
321354647473
321354647477